<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientSecret</key>
	<string>c43a400f95f04796aeb3df619895816f</string>
	<key>clientID</key>
	<string>cdeb3fa8d1d94ceab00ad9d282b0b630</string>
</dict>
</plist>
